<% if @photos.empty? %>
  <div class="photo">
    <h3>There are no photos here yet.</h3>
  </div>
<% else %>
  <% @photos.each do |photo| %>
    <div class="photo">
      <div class="photo-info">
        <h4><%= photo.title %></h4>
        <p class="moment"><%= photo.created_at %></p>
      </div>
      <img src="/p/<%= photo.filename %>" alt="<%= photo.title %>">
    </div>
  <% end %>
<% end %>
