<div class="photo">
  <img src="guru.jpg" alt="guru logo">
  <div class="photo-info">
    <h4>A description</h4>
    <p class="date">Tuesday Februarch 42nd</p>
  </div>
</div>
<div class="photo">
  <img src="guru.jpg" alt="guru logo">
  <div class="photo-info">
    <h4>A description</h4>
    <p class="date">Tuesday Februarch 42nd</p>
  </div>
</div>
