<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" media="screen" href="/stylesheets/normalize.css">
    <link rel="stylesheet" media="screen" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" media="screen" href="/stylesheets/photos.css">
    <link rel="stylesheet" media="screen" href="/stylesheets/blueimp-gallery.min.css">
  </head>
  <body>
    <header class="dark">
      <div class="container">
        <h1 class="u-pull-left"><a href="/">Photos
            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="50" height="50"><path fill-rule="evenodd" d="M15 3H7c0-.55-.45-1-1-1H2c-.55 0-1 .45-1 1-.55 0-1 .45-1 1v9c0 .55.45 1 1 1h14c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1zM6 5H2V4h4v1zm4.5 7C8.56 12 7 10.44 7 8.5S8.56 5 10.5 5 14 6.56 14 8.5 12.44 12 10.5 12zM13 8.5c0 1.38-1.13 2.5-2.5 2.5S8 9.87 8 8.5 9.13 6 10.5 6 13 7.13 13 8.5z"></path></svg></a>
        </h1>
      </div>
    </header>
    <div id="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <footer class="dark">
      <div class="container">
        <span><a href="https://mikegriffin.ie">Made by Mike Griffin</a></span>
      </div>
    </footer>
    <script src="/javascripts/dayjs.min.js"></script>
    <script src="/javascripts/dayjs/plugin/advancedFormat.js"></script>
    <script type="module">
      dayjs.extend(window.dayjs_plugin_advancedFormat);

      var date;
      var el = document.querySelectorAll('.moment');
      for (var i = 0; i < el.length; i++) {
        date = el[i].innerText;
        el[i].innerHTML = dayjs(date, "YYYY-MM-DD HH:mm:ss Z").format("dddd, MMMM Do YYYY");
      }
    </script>
    <script src='/javascripts/blueimp-gallery.min.js' type="text/javascript"></script>
  </body>
</html>
