body {
  background-color: #292929;
  color: #999;
  font-family: "Proxima Nova Condensed", "Helvetica Neue", Helvetica, sans-serif;
}
.dark {
  background-color: rgb(35, 35, 35);
  color: #693;
}
#content .container {
  padding-top: 35px;
}
.light {
  background-color: #f1f1f1;
  color: #222;
}
header {
  margin-top: 5px;
  padding: 12px 0px;
  border-bottom: 1px solid #333;
}
header h1 {
  margin: 0;
}
header svg {
  vertical-align: text-bottom;
}
header a {
  text-decoration: none;
  color: #693;
}
header a:hover {
  color: #7b4;
}
.photo {
  margin: 0 0 10px 0;
}
.photo img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}
.photo-info {
  padding: 20px;
}
.photo-info h4 {
  margin: 0;
  color: #fff;
}
p.date {
  color: #777;
  margin: 0 0 10px;
}
footer {
  font-weight: 400;
  border-top: 1px solid #333;
  margin-top: 5px;
  padding: 12px 0px;
}
footer a {
  text-decoration: none;
  color: #693;
}
footer a:hover {
  color: #7b4;
}
